<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{user_info.first_name}}'s Purchases</h1>
        <p><a href='/logout'>Logout</a></p>
        <p><a href="/dashboard">Dashboard</a></p>
    </div>
    <div>
        <table>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
            </tr>
            {% for car in my_purchases: %}
            <tr>
                <td>{{car.make}}</td>
                <td>{{car.model}}</td>
                <td>{{car.year}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>